<div class='nknu-menu'>
	<ul>
		<li class='active'><a href='{{@blog.url}}'>Home</a></li>
		<li><a href='{{@blog.url}}/about'>About</a></li>
		<li><a href='{{@blog.url}}/work'>Work</a></li>
	</ul>
</div>