{{! @version 1.1-SNAPSHOT }}
<div class="nknu-share-buttons">
    <h4>Share this post</h4>
    <a href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        <img src='/assets/images/twitter.png' />
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
        <img src='/assets/images/fb.png' />
    </a>
    <a href="https://plus.google.com/share?url={{url absolute="true"}}"
       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
        <img src='/assets/images/googleplus.png' />
    </a>
</div>
