//**
// Mixins
// @version 0.2-SNAPSHOT
//**

.BodyColor () {
    background-color: white;
    background-image: url(../images/blog-body-bg.png);
    color: @color_04;
}

.LinkColor () {
    color: @color_03;
}

.LinkHoverColor () {
    color: @color_02;
}

.HeaderColor () {
    background-color: white;
    background-image: url(../images/blog-header-bg.png);
}

.ArticleColor () {
    background: white;
    a, a:link, a:visited {
        color: @color_03;
    }
    a:hover, a:focus {
        color: @color_02;
    }
}

.MenuColor () {
    background: white;
}

.PostTitleColor () {
    background-color: white;
    background-image: url(../images/article-title-bg.png);
    box-shadow: 1px 1px 7px #555;
    color: white;
    a, a:link, a:visited {
        color: white;
        text-decoration: none;
    }
    a:hover, a:focus {
        color: white;
        text-shadow: 1px 1px 12px #555;
    }
}

