//**
// Styles
//**

img {
    border: 0;
    max-width: 100%;
}

.nknu-wrapper {
    width:100%;
    max-width: @readable_width + 2 * @add_padding;
    margin: 0.25em auto 0 auto;
    padding-bottom: @add_padding / 2 + 0em;
}

.nknu-header {
    .HeaderColor;
    text-align: center;
    padding-top: 1.5 * @golden + 0em;
    padding-bottom: 3 * @golden + 0em;
    margin-bottom: 0.25em;
    box-shadow: 1px 1px 7px @color_04;
}
 
.nknu-article {
    .ArticleColor;
    padding: 0 @add_padding + 0em 1em @add_padding + 0em;
    margin-bottom: 0.25em;
    box-shadow: 1px 1px 7px @color_04;
}

.nknu-article img {
    box-shadow: 2px 2px 12px @color_04;
    display: block;
    margin: 10px auto;
}

.nknu-article-header {
    position: relative;
    display: block;
    z-index: 0;
    text-align: center;
}

.nknu-menu-area {
    .MenuColor;
    width: 100%;
    height: 3em;
    margin-bottom: 0.25em;
    box-shadow: 1px 1px 7px @color_04;
    list-style: none;
    display: block;
}

.nknu-menu-area ul {
    padding-top: 0;
    pagging-bottom: 0;
    padding-left: 4em;
    margin: 0;
    line-height: 3em;
}

.nknu-menu-area ul li {
    display: inline-block;
}

.nknu-menu-area ul li a {
    position: relative;
    padding: 10px 15px;
    text-decoration: none;
    box-sizing: border-box;
}

.nknu-menu li a:hover {
    text-decoration: none;
}

.nknu-menu {
    display: block;
    float: left;
}

.nknu-search-area {
    display: block;
    float: right;
    padding-right: 3em;
}

.active {
    background-color: #f9f9f9;
}

.nknu-author {
    margin: 0;
    background-color: white;
    width: 100%;
    display: table;
    margin-bottom: 0.25em;
    box-shadow: 1px 1px 7px @color_04;
    list-style: none;
    padding-bottom: 2em;
    padding-top: 2em;
}

.nknu-author ul {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5em;
    line-height: 15em;
}

.nknu-author ul li {
    display: inline-block;
}

.nknu-author-image {
    border: 0.063em solid black;
    box-shadow: 1px 1px 7px @color_04;
    float: left;
    line-height: 0;
    margin-left: @golden + 2em;
    margin-right: @golden + 2em;
    padding: 0.15em;
    .border-radius(50%);
    img {
        .border-radius(50%);
    }
}

.nknu-author-image img {
    max-height: 8em;
    max-width: 8em;
}

.nknu-share-buttons {
    text-align: right;
}

.nknu-share-buttons a img {
    width: 30px;
    height: 30px;
    display: inline;
    box-shadow: 0px 0px 0px #000
}

.nknu-share-buttons a:hover, .nknu-share-buttons a {
    text-decoration: none;
}

.nknu-footer {
    text-align: center;
}

.nknu-pagination {
    text-align: center;
    margin-bottom: 1em;
    padding: 0.30em;
}

.nknu-comments {
    margin: 0;
    background-color: @color_01;
    display: table;
    margin-bottom: 0.25em;
    box-shadow: 1px 1px 7px @color_04;
    list-style: none;
    padding-bottom: 2em;
    padding-top: 2em;
    width: 100%;
}

.nknu-search-results {
    background-color: @color_01;
    margin-bottom: 0.25em;
    box-shadow: 1px 1px 7px @color_04;
    padding-left: 5em;
}

.nknu-search-results a h2 {
    .HeaderFont;
    font-size: 1.25em;
}

.nknu-search-results a h4 {
    display: none;
}

#search-field {
    padding: 5px 9px;
    height: 1em;
    border: 1px solid #a4c3ca;
    border-radius: 0em 0em 0em 0em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

#disqus_thread {
    margin-left: 1em;
    margin-right: 1em;
}

.older-post {
    text-align: right;
}